html {
    scroll-behavior: smooth;
  }

body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: white;
    text-align: justify;
}

nav {
    width: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav ul li a:hover, nav ul li a:focus {
    background-color: #555;
}

.section-content {
    opacity: 0; /* Start sections as invisible */
    transition: opacity 1s ease-out; /* Smooth transition for the fade-in effect */
    width: 50%; /* Middle 2/5 of the page */
    min-height: 100vh;
    padding: 50px;
    margin: auto; /* This centers the section */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-content img {
    max-width: 100%; /* Images won't exceed the width of the section content */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Space below images */
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.skills-list {
    width: 100%;
    display: flex;
    flex-direction: row; /* Align items in a row */
    justify-content: space-around; /* Distribute space around items */
    flex-wrap: wrap; /* Allow items to wrap */
}

.skill-block {
    border: 5px solid #1234c958;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
    width: auto;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    margin: 10px;
    vertical-align: top;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.skill-image {
    height: 80px; /* Fixed height for all skill images */
    width: 80px; /* Width varies to maintain the aspect ratio */
}

.skill-block img {
    height: 80px; /* Keeps the height fixed */
    width: auto; /* Adjusts width to maintain aspect ratio */
    margin-bottom: 10px; /* Space between image and caption */
}

.skill-block span {
    display: block; /* Ensures the span takes up the full width underneath the image */
    font-size: 1.1em; /* Slightly increases the font size */
}

#skills h2 {
    text-align: center;
    width: 100%; /* Ensure the heading takes full width to center text properly */
    margin-top: 20px; /* Optional: Adjusts spacing above the heading */
    margin-bottom: 20px; /* Optional: Adjusts spacing below the heading */
}

.footer-content {
    text-align: center;
    padding: 20px;
    background-color: #333;
    width: 100%;
    position: relative;
    bottom: 0;
}

.footer-content img {
    height: 50px; /* Adjust this value as needed */
    width: auto;
  }

.social-link img.footer-image {
    width: 36px; /* Set a consistent and smaller size for the footer images */
    height: auto;
    margin: 0 10px; /* Add some horizontal space between the images */
}

.fade-in {
    opacity: 1; /* Fully visible when the class is added */
}

.contact-form {
    max-width: 200px; /* Limits the form width */
    margin: auto; /* Centers the form */
    padding: 30px;
    background: #fff; /* Change this color based on your preference */
    border-radius: 8px; /* Adds rounded corners to the form */
    color: #333; /* Text color */
}

.form-group {
    margin-bottom: 15px; /* Adds space between form fields */
}

.form-group label {
    display: block; /* Ensures the label is on its own line */
    margin-bottom: 5px; /* Space between label and input */
}

.form-control {
    width: 100%; /* Full width */
    padding: 10px; /* Makes the input taller and easier to interact with */
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 4px; /* Slightly rounded corners for inputs and textarea */
    resize: vertical;
}

.submit-btn {
    background-color: #00000058; /* Use your theme color */
    color: #ffffff; /* White text color */
    padding: 10px 20px; /* Padding inside the button */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Hand cursor on hover */
    width: 100%; /* Full width */
    font-size: 16px; /* Larger font size */
}

.submit-btn:hover {
    background-color: #081a6c47; /* Darker shade for hover effect */
}

.skill-category {
    margin-bottom: 40px; /* Increases space below each skill category */
}

.download-cv {
    text-align: center; /* Center-align the download button */
    margin-top: 20px; /* Add some space above the button */
}

.download-cv button {
    background-color: #1234c958; /* Example blue color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Changes the cursor on hover */
    font-size: 16px; /* Larger font size for better readability */
}

.download-cv button:hover {
    background-color: #1234c947; /* Slightly darker shade on hover */
}